<form>
  <label>CARD NUMBER</label>
  <input type="text" class="form-control" />

  <div class="row">
    <div class="col">
      <label>EXPIRATION DATE</label>
      <input type="text" class="form-control" placeholder="MM / YY" />
    </div>
    <div class="col">
      <label>CV CODE</label>
      <input type="text" class="form-control" />
    </div>
  </div>

  <label>COUPON CODE</label>
  <input type="text" class="form-control" />

  <button class="btn btn-primary btn-lg">Make Payment</button>
</form>